* {
    margin: 0;
    padding: 0;
}

.nav__container {
    justify-content: start !important;
}


#header-logo {
    height: 80px;
    padding: 8px;
}

.seguridad__card {
    width: 36rem;
    margin: 16px auto;
}






/* inicio */

#section1 {
    height: 40vh;
    background-image: linear-gradient(to bottom, #f6f6f6, #dad7ec, #bdb9e3, #9f9bd9, #7f7fcf);

}

.section1__p {
    padding: 50px 50px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 1rem;
    font-family: sans-serif;

}

#section2 {
    height: 30vh;
    background-image: linear-gradient(to top, #f6f6f6, #dad7ec, #bdb9e3, #9f9bd9, #7f7fcf);
}

/* Pagina Seguridad*/

.seguridad__section {
    display: flex;
    background-image: radial-gradient(circle, #f6f6f6, #dad7ec, #bdb9e3, #9f9bd9, #7f7fcf);
}

.seguridad__section img {
    flex: 1 1 0%;

}

.seguridad__section .seguridad__texto {
    flex: 1 1 0%;
    padding: 16px;

}






/* footer */

footer {
    background-color: rgba(0, 0, 0, 0.24);
    padding: 16px;
    background-image: linear-gradient(to bottom, #f6f6f6, #dad7ec, #bdb9e3, #9f9bd9, #7f7fcf);
}

.footer__media-conteiner {
    display: inline-block;
}

.footer__social-item {
    display: inline-block;
}